@import "../../styles/themeColors.module";
@import "../../styles/uiTheme.module";

.input_container {
  display: flex;
  flex-direction: column;
  min-width: 135px;
  width: 20vw;
  word-wrap: break-word;
}

.input {
  font-size: 1.5rem;
  text-align: center;
  border: $inputBorder;
}

.input_error {
  border-color: $errorColor;
}

.input_error:focus {
  border-color: $errorColor;
  outline: none;
}

.error_message {
  color: $errorColor;
}

.select {
  font-size: 1rem;
  background-color: $selectBackgroundColor;
  border: $inputBorder;
}
