@import "../../styles/themeColors.module";

.inputs_grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 10px;
  margin: 5px 0;
}

.equalSign {
  font-size: 20px;
  color: $equalSign;
  position: relative;
  bottom: 5px;
  padding: 0;
}
